<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=storageaccount1xio;AccountKey=Y6yBrvfxM8wKQzvYsOAyJ8x9J2SrEsUMxv9PgDXVM7BsZHHZTiUj6zrDK+YM7AZGiCZAufkAQJgu/DRWbs7/fw==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>